@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
}
html{
    --text-color: white;
    --comment-text-color: rgba(155, 154, 154, 0.715);
    --background-color: rgba(179, 173, 173, 0.268);
    --transparent-bg-color: rgba(0, 0, 0, 0.298);
    font-size: 100%;
}
html.clear{
    --text-color: white;
    --comment-text-color: rgba(155, 154, 154, 0.715);
    --background-color: rgba(179, 173, 173, 0.268);
    --transparent-bg-color: rgba(0, 0, 0, 0.125);
}
html.cloudy, html.partlycloudy{
    --text-color: black;
    --comment-text-color: rgb(0 0 0 / 53%);
    --background-color: #ffffff96;
    --transparent-bg-color: rgba(255, 255, 255, 0.153);
}
html.sunny{
    --text-color: black;
    --comment-text-color: rgb(0 0 0 / 56%);
    --background-color: rgb(255 255 255 / 65%);
    --transparent-bg-color: rgba(255, 255, 255, 0.153);
}
html.rain{
    --text-color: white;
    --background-color: rgb(129 129 129 / 70%);
    --comment-text-color: rgb(0 0 0 / 55%);
    --transparent-bg-color: rgba(0, 0, 0, 0.125);
}
html.night_cloudy{
    --text-color: white;
    --background-color: rgb(129 129 129 / 70%);
    --comment-text-color: rgb(0 0 0 / 55%);
    --transparent-bg-color: rgba(0, 0, 0, 0.125);
}
section{
    background: no-repeat center center fixed;
    background-image: url('../assets/cloudy.jpg');
    background-size: cover;
    min-height: 100vh;
    padding: 5rem 4rem;
    color: var(--text-color);
    position: relative;
}
section.main-container {
    display: grid;
}


/* input */
.input-container{
    position: absolute;
    height: 50px;
    width: 20rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    overflow-x: hidden;
    left: 50%;
    top: 2rem;
    transform: translate(-50%);
}
.input-container i {
    position: absolute;
    color: black;
    font-size: 1.5rem;
    left: 0.5rem;
}
.input-data-container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 3rem;
    display: inline-flex;
    align-items: center;
    font-size: 2rem;
}
input#search {
    font-size: 1.15rem;
}

/* part 1 */
.part1 {
    max-width: 26rem;
}
.parts-container{
    display: flex;
    justify-content: space-between;
}

h1.searched-country{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1;
    max-width: 26rem;
}

p.date{
    margin-left: 0.5rem;
}
.temprature-container{
    display: flex;
    font-size: 4rem;
    margin: 1rem 0;
    gap: 2rem;
    border: 0.2px solid #00000030;
    padding: 0.7rem;
    background: #ffffff3d;
    border-radius: 1rem;
    max-width: 24rem;
    width: fit-content;
}
div#temp {
    display: inline-flex;
}
img#temp-icon {
    width: 6rem;
    object-fit: contain;
}
img.loading {
    object-fit: contain;
}
img.loading.country-fullname{
    width: 120px;
}
img.loading.time{
    width: 50px;
}
img.loading.date{
    width: 50px;
}
img.loading.temp{
    width: 90px;
}
img.loading.condition{
    width: 50px;
}
img.loading.feel-like{
    width: 50px;
}
img.loading.feel-like{
    width: 50px;
}
img.loading.humidity{
    width: 30px;
}
img.loading.wind-speed{
    width: 30px;
}
img.loading.rain{
    width: 30px;
}
img.loading{
    width: 50%
}
img.loading.day-name{
    width: 30px;
}
img.loading.avg-weather{
    width: 40px;
}
img.loading.min-weather{
    width: 30px;
}
img.loading.max-weather{
    width: 30px;
}
.part1 .heading{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.part1 p{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--comment-text-color);
    border: 0.2px solid #00000030;
    padding: 0.2rem 0.5rem;
    background: #ffffff3d;
    border-radius: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.change-display{
    margin-top: 1rem;
}

/* part 2 */

.button-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.btn.selected, .forecast.selected{
    background-color: var(--background-color);
}
.btn{
    border: 0.1px solid var(--background-color);
    border-radius: 20%;
    padding: 0.35rem;
    cursor: pointer;
    display: inline-flex;
}

.state-container{
    display: flex;
    margin: 1.5rem 0;
    gap: 1rem;
    border: 0.2px solid #00000030;
    padding: 0.7rem;
    background: #ffffff3d;
    border-radius: 1rem;

}
.state-name{
    font-weight: 600;
    margin-bottom: 0.3rem;
}
.state-value{
    font-weight: 600;
    font-size: 1.3rem;
    margin-left: 0.5rem;
}
.part2 i{
    font-size: 2.5rem;
}

.state-value{
    display: inline-flex;
}

.forecast-container {
    display: flex;
    height: fit-content;
    gap: 1rem;
    position: relative;
}
.forecast-data-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    justify-items: center;
}
.forecast-data {
    padding: 1rem;
    border-radius: 2rem;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-height: 13rem;
}
.day-minmax-weather {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
img.day-weather-icon {
    width: 6rem;
    object-fit: contain;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    font-size: 120%;
    color: var(--text-color);
    background: var(--transparent-bg-color);
    font-weight: 600;
}
footer svg {
    width: 2.1rem;
    height: 2.1rem;
}
footer svg path {
    fill: var(--background-color);
}
footer svg:hover {
    transform: scale(1.5) rotate(360deg);
    transition: transform 500ms ease;
    cursor: pointer;
}

@media (max-width: 1300px){
    .forecast-data{
        width: 70%;
    }
}
@media (max-width: 1100px){
    html{
        font-size: 90%;
    }
    .input-container {
        height: 36px;
        width: 17rem;
        left: 100%;
        top: 0.7rem;
        transform: translate(-19rem);
    }
}
@media (max-width: 850px){
    .forecast-data{
        width: 85%;
    }
}
@media (max-width: 750px){
    html{
        font-size: 85%;
    }
    .forecast-data-container {
        grid-template: 1fr 1fr / 1fr 1fr;
        width: 100%;
        gap: 2rem;
        margin-top: 4rem;
    }
    .forecast-data{
        width: 70%;
    }
    .input-container {
        height: 34px;
        width: 17rem;
    }
    section{
        padding: 4rem 3rem;
    }
}
@media (max-width: 610px){
    html{
        font-size: 75%;
    }
    .forecast-data-container {
        grid-template: 1fr 1fr 1fr / 1fr;
        width: 100%;
        gap: 2rem;
        margin-top: 4rem;
    }
    .temprature-container {
        gap: 1rem;
        padding: 0.1rem;
    }
    .input-container {
        height: 30px;
        width: 24rem;
        left: 50%;
        top: 0.7rem;
        transform: translate(-50%);
    }
    section{
        padding: 4rem 2rem;
    }
}
@media (max-width: 520px){
    html{
        font-size: 70%;
    }
    .input-container {
        width: 20rem;
    }
    section{
        padding: 4rem 1rem;
    }
} 
@media (max-width: 475px){
    html{
        font-size: 65%;
    }
} 
@media (max-width: 430px){
/*     html{
        font-size: 60%;
    } */
    .input-container {
        height: 25px;
        width: 17rem;
    }
} 
/* @media (max-width: 370px){
    html{
        font-size: 50%;
    }
} */ 